:root {
  --primary: #2E2003;
  --secondary: #C38022;
  --background: #F8F5F2;
  --canvas: #FFF;
  --border-color: #eee;
  --max-width: 55em;
  --nav-width: 228px;
}

table {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  border-bottom: none;
  width: 100%;
}
table tr {
  border-bottom: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0em, 1fr));
  overflow: auto;
}
table tr::-webkit-scrollbar {
  height: 0px;
}
table td,
table th {
  border-right: 1px solid var(--border-color);
  padding: 5px;
  max-width: 80em;
  word-wrap: break-word;
  word-break: break-all;
  display: flex;
  align-items: center;
}
table td:last-child,
table th:last-child {
  border-right: none;
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: var(--background);
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-style: italic;
  font-family: "IBM Plex Mono";
}

p {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p code {
  font-family: "IBM Plex Mono";
  font-style: italic;
  padding-left: 2px;
  padding-right: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

em,
i {
  font-family: "IBM Plex Mono";
}

img {
  max-width: 100%;
  max-height: 600px;
}

pre code.hljs {
  font-family: "Open Sans";
  padding: 0;
}
pre .hljs-comment {
  font-family: "IBM Plex Mono";
  font-style: italic;
}

code.hljs::-webkit-scrollbar {
  height: 0;
  width: 0;
}

main {
  max-width: min(100% - 4em, var(--max-width) + var(--nav-width));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  container-type: inline-size;
  container-name: wrap;
}

article {
  max-width: min(100% - 4em, var(--max-width) - 8em);
  flex-grow: 1;
  background-color: var(--canvas);
  padding: 2em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.01);
  border-radius: 2px;
  word-wrap: break-word;
  word-break: break-all;
}
article p {
  margin-top: 1em;
}

nav {
  width: var(--nav-width);
  max-width: min(100% - 4em, var(--nav-width));
  padding: 2em;
  padding-bottom: 0;
  color: var(--secondary);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
nav p {
  margin-top: 1em;
}
nav a {
  font-family: "IBM Plex Mono";
  font-style: italic;
  color: #ecb669;
}

@container wrap (max-width: 69.249em) {
  article {
    max-width: min(100% - 4em, var(--max-width) + 8em);
  }
  nav {
    max-width: min(100% - 4em, var(--max-width) + 8em);
    width: 100%;
  }
}
footer {
  padding: 2em;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.list {
  margin-top: 1em;
}
.list .year {
  padding-bottom: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
  color: #bdbdbd;
  border-bottom: solid 1px var(--border-color);
  font-family: "IBM Plex Mono";
}
.list .group {
  display: table;
}
.list .group div {
  padding-top: 2px;
  padding-bottom: 2px;
}
.list .date {
  display: table-cell;
  width: 96px;
  font-family: "IBM Plex Mono";
}
.list .title {
  display: table-cell;
  color: hsl(200, 100%, 30%);
}

footer {
  white-space: pre;
}

#run-time,
#build-time,
#copyright {
  font-family: "IBM Plex Mono";
  font-style: italic;
  color: #bda88a;
  font-size: 14px;
}

#avatar {
  border-radius: 50%;
  border: 4px solid white;
  max-width: 88px;
}

#avatar-container {
  align-self: center;
}

.pinned {
  font-family: "IBM Plex Mono";
  font-style: italic;
}

#nav-break {
  height: 1em;
}