:root {
  --primary: #2E2003;
  --secondary: #C38022;
  --background: #F8F5F2;
  --canvas: #FFF;
  --border-color: #eee;
  --max-width: 55em;
  --nav-width: 228px;
}

hr {
  border: solid;
  border-width: 0.5px;
  border-color: var(--secondary);
  opacity: 0.1;
  margin-bottom: 2em;
}

.date {
  font-style: italic;
  padding-top: 0.5em;
  color: var(--secondary);
}

.tag {
  background-color: rgba(195, 128, 34, 0.23);
  color: #C38022;
  width: fit-content;
  border-radius: 2px;
  padding: 1px 4px;
  font-size: 12px;
}

pre {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}